{% extends "base.html" %}
{% block large_header %}
	<div id="portfolio_one" class="container">
		<div id="info_boks" class="span-8">
			<img src="/media/img/divider_h_311.png"/>
			<h1>{{p.name}}</h1>
			<div id="tekst">{{p.text}}</div>
			<br/>
			<div id="linka">
				<a href="{{p.link}}">{{p.link_display}}</a>
			</div>
			<br/>
			<img src="/media/img/divider_h_311.png"/>
			<br/>
			<h1>What We Did</h1>
			<div id="what_did">
				<ul>
					{{did}}
				</ul>
			</div>
		</div>
		<div id="boks" class="span-16 last">
			<div id="screenshota">
				{% for im in p.lrg %}
				<img style="{% if loop.last %}margin-bottom:0px;{% endif %}" src="/media/{{im.file}}"/>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="clear"></div>
{% endblock large_header %}

{% block content %}
<style>
	#content{ display:none};
</style>
{% endblock content %}
