<!DOCTYPE html>
<html lang="en"> 
<head>
<link rel="shortcut icon" href="/static/img/favicon.ico" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script src="http://code.jquery.com/jquery.min.js"></script>


<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/styles.css?1" rel="stylesheet">

<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.cookie.js"></script>
<!--  OTHER -->
<title>{% block title %}{% endblock %} Django-Heroku in 15 minutes!</title>
{% block extra_head %}{% endblock %}
</head >

<body>
{% block header %}
<div id="header">
<div class="container">
	<div class="row">
		<div class="col-md-12">



<nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">Django Heroku 15.com</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right">
			{% if user.is_authenticated %}
			{% if user.id == 1 %}
				<li class="dropdown">
					<a href="/admin" >Admin</a>
				</li>
			{% endif %}
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.first_name}} <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="{% url 'logout' %}">logout</a></li>
							</ul>
			</li>
			{% else %}
		<li><a href="{% url 'login' %}">Login</a></li>
		{% endif %}
		</ul>
	</div><!-- /.navbar-collapse -->
</nav>

						
		</div>
	</div>
</div>
</div>
{% endblock %}

<div id="body" >
{% if messages %}
	<div class="container" >
		<div class="row">
			<div class="col-md-12">
				<ul class="messages">
				    {% for message in messages %}
				    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				    {% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endif %}

{% block body %}
{% endblock body %}
</div>

{% block footer %}
	<div class="container" id="footer">
		<div class="row">
			<div class="col-md-12">
				<span class="copyright">© Copyright 2014 <span class="copyright-name">Django Heroku 15  </span></span>
			</div>
		</div>
	</div>
{% endblock %}
</body>
</html>
