{% extends "base.html" %}

{% block title %}Welcome to Django Heroku 15 minutes{% endblock %}



{% block body %}
<div class="container">

	<div class="row">
		<div class="col-md-9">
			<div class="jumbotron" style="background-color: transparent;">
				<h1>This is your home/splash page</h1>
				<p>It has bootstrap too!  </p>
				<p>
					<a href="{% url 'signup' %}" class="btn btn-primary btn-lg" role="button">Signup For Your Own site</a>
				</p>
			</div>
			
		</div>
		<div class="col-md-3">
			<img src="/static/img/sun.png" style="margin-top: 50px;"/>
		</div>
	</div>



</div> <!-- container -->
{% endblock %}

